* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.outer_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: space-between;
}

.container {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    gap: 20px;
    flex-shrink: 0;
}

.container * {
    justify-content: space-between;
    align-items: space-between;
    background-color: violet;

    min-height: 20px;
    min-width: 20px;

    padding: 10px;

}