* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

.container1 {

    padding: 10px;
}



.row {
    display: flex;

    gap: 10px;
    margin-bottom: 10px;
}


.column {
    background-color: lightgrey;
    padding: 1rem 0;
    flex: 1;
}